:root {
  --cell-header-bg-color: #2e303f;
}

.hidden { display: none; }


.progress-status {
  margin-top: 40px;
  font-size: 120%;
}

.track-container {
  width: calc(100vw - 300px);
  display: flex;
  flex-wrap: wrap;
}

.gadget-container {
  /*
  margin: 40px auto;
  max-width: 600px;
  min-width: 250px;
  */
  margin: 35px 80px;
  width: calc(100vw - 300px);
  min-width: 350px;
  max-width: 750px;
  padding: 0 10px;
  border-radius: 10px;
  position: relative;
  background-color: #946161;
  align-self: flex-start;
}

.cell-contents {
  padding: 0 15px;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  background-color: #535563;
}

.toolbar,
.timeline-container,
.instrument-container,
.editor-container,
.output-container,
.recording-container,
.error-container {
  position: relative;
  padding: 0 0 15px 0;
}

.timeline-container { }

.instrument-container.armed {
  outline: 1.5px solid #fc0;
}


/* HEADER BAR */
.header-bar {
  background-color: var(--cell-header-bg-color);
  height: 60px;
  border-top: 2px solid #667;
  border-bottom: 2px solid #667;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
}

.gadget-icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: -2px;
  background-color: var(--piano-color);
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('../images/instruments/synth.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.guitar .gadget-icon {
  background-color: var(--guitar-color);
  background-image: url('../images/instruments/bass.svg');
}
.bass .gadget-icon {
  background-color: var(--bass-color);
  background-image: url('../images/instruments/bass.svg');
}
.marimba .gadget-icon {
  background-color: var(--marimba-color);
  background-image: url('../images/instruments/marimba.svg');
}
.piano .gadget-icon {
  background-color: var(--piano-color);
  background-image: url('../images/instruments/synth.svg');
}
.drums .gadget-icon, .drumkit .gadget-icon {
  background-color: var(--drum-color);
  background-image: url('../images/instruments/drumkit.svg');
}
.definitions .gadget-icon {
  background-color: var(--definitions-color);
  background-image: url('../images/instruments/definitions.svg');
}
.gadget-icon.sound {
  background-color: var(--sound-color);
  background-image: url('../images/instruments/sampler.svg');
}


.header-bar .expander { flex: 1; }
.header-bar .gadget-name {
  width: 200px;
  color: white;
  font-weight: bold;
  font-family: var(--main-font);
  font-size: 15px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  padding: 4px 5px;
  position: relative;
  top: -5px;
}
.header-bar .gadget-name:hover {
  background-color: #fff2;
  border: 1px solid #fff6;
}
.header-bar .gadget-name:focus {
  background-color: #fffd;
  color: #333;
  font-weight: normal;
  border: 1px solid black;
}
.header-bar .gadget-info,
.header-bar .gadget-error {
  color: #fff8;
  font-size: 12px;
  font-weight: 500;
  padding-left: 7px;
  position: relative;
  top: -8px;
}
.header-bar .gadget-error {
  color: #da575d;
  display: none;
}
.gadget-container.error .header-bar .gadget-info { display: none; }
.gadget-container.error .header-bar .gadget-error { display: block; }


/* PYTHON EDITOR */
.python-editor {
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0;
}

.CodeMirror {
  min-height: 200px;
  height: unset;
}

/* BUTTON TOOLBAR */
.toolbar {
  display: flex;
  padding: 8px 15px;
  background-color: #535563;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  color: #fffc;
  line-height: 34px;
}
.gadget-container.definitions .toolbar .module-name {
  font-weight: bold;
}
.toolbar button,
.toolbar .voice-selector,
.toolbar .menu-button {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.75);
  background-color: #fff2;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 28px;
  border-radius: 4px;
  margin: 3px;
  font-size: 12px;
  text-align: center;
}
.toolbar button.hidden,
.toolbar button:hover,
.toolbar .voice-selector:hover,
.toolbar .menu-button:hover { background-color: rgba(255, 255, 255, 0.25); }
.toolbar button:active,
.toolbar .voice-selector:active,
.toolbar .menu-button:active { background-color: rgba(255, 255, 255, 0.45); }
.toolbar .expander { flex: 1; }
.toolbar .voice-selector {
  flex: 1;
  line-height: 25px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  min-width: 135px;
}
.voice-selector .voice-name {
  flex: 1;
  font-weight: 500;
  text-align: center;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.voice-selector i.fa {
  width: 15px;
  line-height: 23px;
  margin-right: 5px;
}
.context-menu.voice-menu {
  left: unset;
  top: 15px;
  right: 0;
  min-width: 200px;
}
.menu-button {
  line-height: 28px;
  position: relative;
}
.menu-button .context-menu {
  left: unset;
  right: 0;
  top: 15px;
  width: 250px;
}

/* HIDDEN UNLESS AUTHENTICATED */
.gadget-container .logged-in-only { display: none; }
main.authenticated .logged-in-only { display: inherit; }

/* PULLDOWN MENUS */
.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #666;
  border-radius: 8px;
  min-width: 180px;
  top: 5px;
  left: 0px;
  z-index: 10;
  display: block;
  list-style: none;
  padding: 10px 0;
  text-align: left;
  box-shadow: 3px 3px 3px #0005;
  overflow: hidden;
}
.context-menu.hidden { display: none; }

.context-menu li.menu-item {
  font-size: 14px;
  /*font-family: $project-medium-font; */
  outline: none;
  border: none;
  height: 32px;
  line-height: 32px;
  text-align: left;
  padding: 0 10px;
  background-color: transparent;
  color: #555;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.context-menu li.menu-item:hover { background: rgba(0, 0, 0, 0.1); }
.context-menu li.menu-item:active { background: rgba(0, 0, 0, 0.2); }
.context-menu li.menu-item .fas,
.context-menu li.menu-item .far,
.context-menu li.menu-item .fab { width: 2.2em; margin-left: 5px; }
.context-menu li.menu-separator {
  border-bottom: 1px solid #bbb;
  margin: 8px;
}


/* ERROR MESSAGES */
.error-message {
  background-color: white;
  padding: 15px;
  border-left: 14px solid #da575d;
  font-size: 13px;
}
.error-name-container { font-weight: 200; color: #445; margin-bottom: 5px 0; }
.error-name-container .fas { color: #da575d; margin-right: 5px; font-size: 120%; }
.error-name { position: relative; top: -2px; }
.error-description {
  background-color: #f9e4e5;
  padding: 15px 20px;
  font-family: monospace;
  color: #444;
  margin-top: 12px;
  line-height: 150%;
}


/* PYTHON OUTPUT */
.output-container { }
.output-container pre {
  min-height: 100px;
  max-height: 250px;
  overflow: scroll;
  background-color: #fffe;
  box-shadow: 0 0 10px 4px #3331 inset;
  font-family: monospace;
  color: #333;
  font-size: 13px;
  padding: 10px 15px;
  margin: 0;
}
.gadget-container .close-button {
  top: 0;
  right: 20px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  color: #555;
  outline: none;
  border-radius: 50%;
  border: 1px solid #333;
  position: absolute;
  margin: 10px;
}
.gadget-container .close-button:hover { background-color: #0001; }
.gadget-container .close-button:active { background-color: #0002; }

.output-hint {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  background-color: #87c44e;
  padding: 3px 14px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 1s;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 5;
  pointer-events: none;
}
.output-hint.visible { opacity: 1.0; pointer-events: all; }

.output-hint .output-count {
  display: inline-block;
  color: #87c44e;
  background-color: white;
  border-radius: 12px;
  height: 24px;
  font-weight: bold;
  line-height: 24px;
  min-width: 30px;
  margin-left: 8px;
  text-align: center;
  font-size: 13px;
}

/* RECORDING BOX */
.gadget-container.recording .record-button { display: none; }
.gadget-container .stop-button { display: none; }
.gadget-container.recording .stop-button { display: block; }
.recording-container.hidden { display: none; }

.recording-container pre {
  height: 150px;
  overflow: scroll;
  background-color: #2E303F;
  font-family: monospace;
  color: #29C;
  font-size: 13px;
  padding: 10px 15px;
  margin: 0;
}

.recording-container .toolbar {
  padding: 0 0 10px 0;
  border: none;
}

.metronome-button {
  background-image: url('../images/metronome.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}
.metronome-button.playing { background-color: rgba(255, 255, 255, 0.45); }
.metronome-button.tock {
  transform: scaleX(-1);
}

.stop-button {
  color: #fff9 !important;
  background: #da575d !important;
}

.recording-container .clear-button,
.recording-container .copy-button,
.recording-container .quant-button {
  width: auto;
}

.recording-container .toolbar .button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* SHARE DIALOG */
.dialog.share {
  color: #555;
  width: 60%;
  max-height: 80vh;
  max-width: 700px;
  padding: 25px 45px;
  overflow-y: auto;
}

.dialog.share .dialog-button-row {
  margin-top: 0;
}

.track-info {
  font-size: 13px;
  padding: 13px 20px;
  box-sizing: border-box;
  display: flex;
  line-height: 90%;
}

.track-info .gadget-icon {
  width: 45px;
  height: 45px;
}

.track-details {
  font-size: 14px;
  color: #777;
  width: 500px;
  margin: 0 0 0 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  text-align: left;
}

.track-details.hidden { display: none; }

.track-details dt {
  flex: 0 0 20%;
  line-height: 2em;
  font-weight: bold;
}

.track-details dd {
  flex: 0 0 75%;
  line-height: 2em;
  font-weight: normal;
  margin: 0;
}

.track-details dd.track-description textarea {
  width: 300px;
  height: 100px;
  margin-top: 6px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #eee;
  color: #555;
}

.collaborators {
  display: flex;
}

.collaborators .collaborator {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: black;
  font-weight: bold;
  margin-left: 2px;
}
.collaborators .collaborator i.fas {
  font-size: 25px;
  line-height: 35px;
}


.gadget-container.text {
  padding: 0;
  background-color: white;
  border-radius: 0;
  box-shadow: 0px 0px 5px #0002;
}
.gadget-container.text .cell-contents {
  padding: 0;
  border: none;
  background-color: white;
}

.gadget-container.text .header-bar {
  background-color: white;
  border: none;
  border-top: 9px solid var(--text-color);
  border-bottom: 1px solid #ccc;
  padding: 1em 2em;
  height: 80px;
}
.gadget-container.text .header-bar .gadget-name {
  color: #535563;
  font-size: 18px;
  margin-left: 8px;
  margin-top: 5px;
}
.gadget-container.text .header-bar .gadget-name:hover {
  border: 1px solid #ddd;
}
.gadget-container.text .header-bar .menu-button {
  background-color: #e4e4e6;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  color: #555;
  margin-left: 15px;
}
.gadget-container.text .expand-cell-button,
.gadget-container.text .collapse-cell-button {
  width: 35px;
  height: 35px;
  background-color: #e4e4e6;
  color: #555;
  border: none;
  outline: none;
  margin-left: 10px;
  border-radius: 5px;
}
.gadget-container.text .menu-button:hover,
.gadget-container.text .expand-cell-button:hover,
.gadget-container.text .collapse-cell-button:hover {
  background-color: #ccc;
}

.gadget-container.text .gadget-icon {
  background-color: var(--text-color) !important;
  background-image: url(../images/instruments/text.svg);
  background-color: white;
}
